.container {
  color: #111111;
  background-color: #f0e3d7;
  max-width: 1920px;
  margin: auto;
}

.innerContainer {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding-top: 48px;
  display: table
}

.header {
  width: 740px;
  font-weight: 700;
  font-size: 3.75rem;
  margin: auto
}

.underHead {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 15px 321px 0 355px
}

.orangeLine {
  width: 116px;
  height: 3px;
  transform-origin: right center;
  margin: 20px auto 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  border-color: #ef7a2e;
  border-style: solid;
}

.textAboutGym {
  line-height: 29px;
  letter-spacing: normal;
  width: 740px;
  margin: 20px auto 0;
  word-wrap: break-word;
  position: relative;
}

.orangeArea {
  height: 197px;
  background-image: none;
  margin: 152px auto 0 0;
  background-color: #ef7a2e;
  box-sizing: border-box;
}

.cardsArea {
  width: 1053px;
  margin: -290px auto 0 44px;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*min-height: 100%;
  */max-width: 100%;
  height: 400px;
  overflow: hidden;
  box-sizing: border-box;
  transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -ms-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
}

/* .layoutScroll {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 50%;
  height: 200px;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  transition: display 0.5s ease-in-out;
  -webkit-transition: display 0.5s ease-in-out;
  -moz-transition: display 0.5s ease-in-out;
  -ms-transition: display 0.5s ease-in-out;
  -o-transition: display 0.5s ease-in-out;
} */

.item {
  border: 15px solid transparent;
  min-height: 413px;
  background-position: 50% 50%;
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  background-clip: padding-box;
  background-size: cover;
}

.item_1 {
  background-image: url("../../../../static/images/item_1.jpg");
}

.item_2 {
  background-image: url("../../../../static/images/item_2.jpg");
}

.item_3 {
  background-image: url("../../../../static/images/item_3.jpg");
}

.item_4 {
  background-image: url("../../../../static/images/item_4.jpg");
}

.item_5 {
  background-image: url("../../../../static/images/item_5.jpg");
}

.item_6 {
  background-image: url("../../../../static/images/item_6.jpeg");
}

.item_7 {
  background-image: url("../../../../static/images/item_7.jpg");
}

.item_8 {
  background-image: url("../../../../static/images/item_8.jpg");
}


.viewMore {
  color: #111111;
  background: unset;
  border-width: 2px;
  border-style: solid;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 44px auto 50px;
  padding: 9px 36px 11px 35px;
  border-color: #ef7a2e;
  display: table;
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
}

.viewMore:hover {
  color: #FFFFFF;
  background-color: #ef7a2e;
}