.container {
  max-width: 1920px;
  margin: auto;
}

.layout {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
}

.motiv_1 {
  min-height: 717px;
  background-image: none;
  flex: 0 0 50%;
  background-color: #f0e3d7;
}

.motiv_1_content {
  min-height: 717px;
  background-image: none;
  flex: 0 0 50%;
  background-color: #f0e3d7;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  flex: 1;
  max-width: 100%;
}

.motiv_1_content img {
  width: 417px;
  height: 506px;
  margin: 0 auto;
  object-fit: cover;
}

.motiv_2 {
  min-height: 717px;
  background-image: none;
  flex: 0 0 50%;
  background-color: #FFFFFF;
  padding: 60px 80px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.motiv_head {
  letter-spacing: 6px;
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 0;
}

.motiv_text {
  word-wrap: break-word;
  position: relative;
  line-height: 2;
  margin: 20px 0 0;
}

.motiv_2 img {
  width: 245px;
  height: 245px;
  margin: 30px auto 0 0;
  object-fit: cover;
}