.container {
  max-width: 1920px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  margin: auto;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 452px;
  width: 1140px;
  margin: 0 auto;
}

.layoutRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100%;
  max-width: 100%;
}

.member_1 {
  display: flex;
  flex: 0 0 31.66666667%;
  max-width: 31.66666667%;
  flex-direction: column;
  min-height: 100%;
  padding: 30px 10px;
  justify-content: center;
  text-align: left;
}

.member_1 h5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
}

.member_1 h2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 0 0;
  line-height: 1.1;
}

.member_1 p {
  margin: 30px 40px 0 0;
}

.socialLinks {
  white-space: nowrap;
  height: 25px;
  min-height: 16px;
  width: 169px;
  min-width: 133px;
  margin: 30px auto 0 0;
}

.links {
  width: 25px;
}

.member_2 {
  flex: 0 0 35%;
  max-width: 35%;
  padding: 30px;
  justify-content: center;
}

.member_2 h4 {
  margin: 113px 0 0; 
}

.member_3 {
  display: flex;
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  padding: 30px;
  justify-content: center;
  min-height: 451px;
  background: #f0e3d7;
}

.member_3 img {
  width: 321px;
  height: 321px;
  margin: 30px -1px;
  object-fit: cover;

}

