.container {
  margin: auto;
  max-width: 1920px;
}

.header {
  display: flex;
  background-image: url("../../static/images/nutrition.jpg");
  min-height: 600px;
  background-repeat:no-repeat;
  background-size: cover;
  align-items: flex-end;
  justify-content: center;
}

.gradient {
  position: absolute;
  height: 600px;
  top: 88px;
  width: 100%;
  max-width: 1920px;
  z-index: 1;
  background: linear-gradient(to bottom, #332e29cc 0%, rgba(83,4,23,0) 100%);
  margin: auto;
}

.title {
  color: #ffffff;
  line-height: 0.7;
  margin: 0 auto;
  font-size: 12rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.info_card {
  width: 815px;
  padding: 40px 5px;
  margin: auto;
  line-height: 35px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -0.025em;
  color: #282828;
  text-align: center;
  background: #ffffff;
}

.gradient_line {
  height: 8px;
  margin: 0;
  background: linear-gradient(to right, #f99919 0%, #de1245 100%);
}

.innerCont {
  display: flex;
  justify-content: space-around;
  width: 1400px;
  margin: auto;
}

.textGroup {
  padding-top: 10px;
  width: 47%;
  text-align: start;
}

.nutrition {
  min-height: 600px;
  padding: 50px 0 60px 0;
}

.textGroupNutrition {
  padding-top: 10px;
  width: 37%;
  text-align: start;
}

.textGroupHead {
  display: flex;
  justify-content: space-between;
  width: 180px;
  align-items: center;
  margin: 5px auto 20px;
}

.textGroupHead hr {
  width: 50px;
  color: #ef7a2e;
  height: 2px;
}

.nutroIcon {
  background: url("../../static/images/food.svg");
  width: 30px;
  height: 30px;
  background-repeat:no-repeat;
  background-size: cover;
}

.textGroupNutrition h3{
  padding-bottom: 8px;
  line-height: 33px;
  font-size: 33px;
  text-align: center;
  margin-bottom: 20px;
}

.textGroupNutrition p{
  color: #686868;
  line-height: 26px;
  font-size: 17px;
  text-align: center;
}

.joinBtn {
  width: 200px;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 20px auto 0 180px;
  padding: 10px 25px;
  background: #000000;
  color: #FFFFFF;
  border-color: #FFFFFF;
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
}

.joinBtn:hover {
  background: #ef7b2ed7;
  color: #000000;
  font-weight: 800;
  border-color: #FFFFFF;
}

.personal_group {
  width: 50%;
  background: url("../../static/images/nutro_food.jpg");
  min-height: 500px;
  background-repeat:no-repeat;
  background-size: cover;
  align-items: flex-end;
  justify-content: center;
  background-position: 70% 30%;
}

.nutritionLine {
  width: 1400px;
  height: 10px !important;
  color: #424242;
  margin: auto;
}

.nutrition_receips {
  width: 1400px;
  margin: auto;
  padding: 35px 0;
}

.header_nutro {
  width: 60%;
  align-items: center;
  margin: auto;
}

.header_nutro h1 {
  line-height: 33px;
  font-size: 38px;
  text-align: center;
}

.header_nutro p {
  color: #686868;
  line-height: 26px;
  font-size: 17px;
  padding-bottom: 20px;
  text-align: center;
}

.nutroGroupHead {
  display: flex;
  justify-content: space-between;
  width: 350px;
  align-items: center;
  margin: 5px auto 20px;
}

.nutroGroupHead hr {
  width: 50px;
  color: #ef7a2e;
  height: 2px;
}

.nutroCard {
  display: flex;
  width: 1400px;
  min-height: 350px;
  margin: auto;
  align-items: center;
  justify-content:space-between;
}

.nutroImg {
  width: 30%;
  min-height: 300px;
  background-size: cover;
  background-position: 50% 30%;
}

.nutroText {
  width: 65%;
}

.nutroText h4 {
  padding-bottom: 8px;
  line-height: 33px;
  font-size: 33px;
}

.nutroText p {
  color: #686868;
  line-height: 26px;
  font-size: 17px;
}

.nutroLine {
  width: 70%;
  margin: 0 auto 0;
  height: 2px !important;
  color: #ef7a2e;
}
