.container {
  max-width: 1920px;
  color: #ffffff;
  background-color: #ef7a2e;
  text-align: center;
  margin: auto;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  width: 1140px;
  margin: 0 auto;
}

.layout h1 {
  width: 710px;
  font-size: 3.75rem;
  margin: 20px auto 0;
  line-height: 1.1;
}

.layout p {
  width: 710px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}