.container {
  max-width: 1920px;
  margin: auto;
}

.layout {
  display: flex;
  background-image: url("../../static/images/auth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 881px;
  margin: auto;
}

.gradient {
  width: 100%;
  z-index: 1;
  background: linear-gradient(to right, #332e29 0%, #332e2902 300%);
}

.auth {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.formTable {
  display: table;
  text-align: center;
}

.logoSite {
  border: 1px solid rgba(216, 216, 216, 0.651);
  width: 150px;
  height: 150px;
  overflow: hidden;
  background-image: url("../../static/images/navbar_logo.png");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.head {
  color: white;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  margin: 10px;
}

.slogan {
  color: rgb(122, 122, 122);
  margin: auto;
  width: 70%;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.form {
  display: flex;
  flex-direction: column;
}

.field {
  width: 100%;
  height: 35px;
  margin: 5px auto;
  background: unset;
  border: 1px solid rgba(255, 255, 255, 0.897);
  border-radius: 5px;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.field:focus {
  outline-offset: unset;
  outline: unset;
}
.userButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

.logButton {
  width: 40%;
  height: 35px;
  /*margin: auto;
  */background: unset;
  border: 1px solid #ef7a2e;
  color: #ef7a2e;
  border-radius: 5px;
  box-shadow: 0 0 8px #ef7a2e;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
}


.logButton:hover {
  background: rgba(139, 139, 139, 0.747);
}

.tabLink {
  text-decoration: none;
  color: white;
  margin-top: 5px;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
}

.tabLink:hover {
  color: #ef7b2ebd;
}

.error_msg {
  display: flex;
  color: rgb(237, 67, 55);
}
