.container {
  max-width: 1920px;
  color: #FFFFFF;
  background-color: #333333;
  text-align: center;
  margin: auto;
}

.innerFooter {
  display: flex;
  flex-wrap: wrap;
  min-height: 120px;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.footerText {
  width: 100%;
}

.socialLinks {
  white-space: nowrap;
  height: 25px;
  min-height: 16px;
  width: 169px;
  min-width: 133px;
  overflow: hidden;
  margin: auto;
}

.footerText h4 {
  text-transform: uppercase;
  font-size: 18px;
}

.footerText p {
  text-transform: uppercase;
  font-size: 14px;
  color: #b4b4b4;
}


.links {
  width: 25px ;
}

.links img {
  width: 25px;
}
