.container {
  background-color: #332e29;
  max-width: 1920px;
  display: grid;
  grid-template-columns: 45% 55%;
  margin: auto;
}

.imgArea {
  min-height: 669px;
  background-image: url("../../../../static/images/header.jpg");
  background-position: 70% 30%;
  background-size: cover;
}

.textArea {
  padding: 80px 90px 30px 80px;
  display: table
}

.textArea a {
  text-decoration: none;
}

.textArea h4{
  font-size: 1.25rem;
  line-height: 2;
  margin: 0;
  font-weight: 600;
  color: white;
}

.joinBtn {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 35px auto 0 0;
  padding: 10px 54px;
  background: unset;
  color: #FFFFFF;
  border-color: #FFFFFF;
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
}

.joinBtn:hover {
  background: #FFFFFF;
  color: #000000;
  font-weight: 800;
  border-color: #FFFFFF;
}

.imgArea h1 {
  font-size: 6.875rem;
  margin: 0 46px 50px -400px;
  color: #FFFFFF;
  font-weight: 1000;
}