.container {
  max-width: 1920px;
  background-color: #332e29;
  margin: auto;
}

.navbarLogo {
  width: 45px;
  margin-right: 25px;
}

.brand {
  color: #ef7a2e;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  margin-right: 15px;
}

.nav_item a{
  color: white;
  font-size: 20px;
}

.nav_item a:hover{
  color: rgb(192, 192, 192);
}

.nav_item_active {
  color: #ef7a2e;
  border-bottom: 1px solid #ef7a2e;
}

.buttons_container {
  width: 25%;
}

.user_button_sign {
  width: 122px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #ef7a2e;
  color: white;
  font-weight: 500;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
}

.user_button_log {
  width: 122px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #FFFFFF;
  border: 2px solid #ef7a2e;
  color: #ef7a2e;
  font-weight: 800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
}

.user_button_logout {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background-color: #FFFFFF;
  background-image: url("../../static/images/logout.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #ef7a2e;
  color: #ef7a2e;
  font-weight: 800;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
}

.buttons_container h6 {
  color: #FFFFFF;
  margin: 0 10px 5px;
}


.user_button_sign:hover {
  background-color: #FFFFFF;
  color: #ef7a2e;
  font-weight: 800;
}

.user_button_log:hover {
  background-color: #ef7a2e;
  color: #FFFFFF;
  font-weight: 500;
  border: 2px solid #FFFFFF
}