.container {
  margin: auto;
  max-width: 1920px;
  background: #cccccc;
}

.header {
  display: flex;
  background-image: url("../../static/images/contact.jpg");
  min-height: 600px;
  background-repeat:no-repeat;
  background-size: cover;
  align-items: flex-end;
  justify-content: center;
}

.gradient {
  position: absolute;
  height: 600px;
  top: 88px;
  width: 100%;
  max-width: 1920px;
  z-index: 1;
  background: linear-gradient(to bottom, #332e29cc 0%, rgba(83,4,23,0) 100%);
  margin: auto;
}

.title {
  color: #ffffff;
  line-height: 0.7;
  margin: 10px auto;
  font-size: 12rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.infoAbout {
  background: #ffffff;
  min-height: 500px;
}

.innerAbout {
  width: 1200px;
  margin: auto;
  padding: 40px 50px;
  text-align: center;
}

.innerAbout h2 {
  font-size: 32px;
  color: #ef7a2e;
}

.contentAbout {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contactInfo {
  text-align: start;
  width: 500px;
}

.contactInfo label {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}

.contactInfo p {
  color: #ef7a2e;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}


.orangeArea {
  height: 197px;
  background-image: none;
  margin: 300px auto 0 0;
  background-color: #ef7a2e;
  box-sizing: border-box;
}

.contactForm {
  width: 830px;
  margin: -390px auto 0 ;
  background: #ffffff;
  min-height: 600px;
}

.contactArea {
  min-height: 500px;
  width: 1100px;
  margin: auto;
}

.contactForm h3 {
  font-size: 40px;
  text-align: center;
  padding-top: 60px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 40px 50px;
}

.inputGroup input {
  width: 100%;
  padding: 10px 12px;
  background-image: none;
  background-clip: padding-box;
  border: none;
  border-radius: 3px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-color: transparent;
  color: inherit;
  height: auto;
  color: #111111;
  background-color: #f2f2f2;
  font-size: 1.25rem;
}

.inputGroup {
  margin-bottom: 13px;
  padding-left: 13px;
  width: 50%;
  text-align: start;
}

.inputGroupLarge {
  margin-bottom: 13px;
  padding-left: 13px;
  width: 100%;
  text-align: start;
}

.inputGroupLarge textarea {
  width: 100%;
  padding: 10px 12px;
  background-image: none;
  background-clip: padding-box;
  border: none;
  border-radius: 3px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-color: transparent;
  color: inherit;
  height: auto;
  color: #111111;
  background-color: #f2f2f2;
  font-size: 1.25rem;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -ms-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.inputGroup label{
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
}

.inputGroupLarge label {
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
}

.inputGroupLarge button {
  width: 125px;
  height: 50px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color ease-in-out 0.5s, color ease-in-out 0.5s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: background-color ease-in-out 0.5s, color ease-in-out 0.5s;
  -moz-transition: background-color ease-in-out 0.5s, color ease-in-out 0.5s;
  -ms-transition: background-color ease-in-out 0.5s, color ease-in-out 0.5s;
  -o-transition: background-color ease-in-out 0.5s, color ease-in-out 0.5s;
}

.inputGroupLarge button:hover {
  background-color: #575757;
  color: #ef7a2e;
}


