.container {
  max-width: 1920px;
  margin: auto;
  background-image: url("../../../../static/images/information.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.innerContainer {
  max-width: 1140px;
  width: 100%;
  min-height: 805px;
  margin: auto;
  text-align: center;
  display: table
}

.cardsContent {
  display: grid;
  min-height: 239px;
  grid-template-columns: repeat(4, calc(25% - 14px));
  margin-top: 405px;
  margin-bottom: 0;
  grid-gap: 18px;
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.card {
  color: #ffffff;
  background-color: #ef7a2e;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  line-height: 1.6;
}

.cardContainer{
  padding: 30px;
}

.iconRound {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-image: none;
  margin: 0 auto 0 0;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  padding-top: 8px;
}

.iconRound img{
  width: 50px;
}

.cardHead {
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 0;
  margin-bottom: 0;
}

.cardText {
  font-style: italic;
  margin: 20px 0 0;
}